.navbar-nav li {
    margin: 0px 15px;
}
.hero {
    margin-top: 80px; /* keep space for sticky navbar */
    height: 100vh;
    width: 100%;
    background-image: url("../images/image 46.png");
    background-size: cover; /* ensures full coverage */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents repeating */
    position: relative;
    
    display: flex;
    align-items: center; /* vertical center */
    justify-content: center; /* horizontal center */
}

.hero-display {
    text-align: center;
}
